/* Layout container */
.layout {
  display: flex;
  flex-direction: column;
  min-height: 300vh;
}

/* Header */
.header {
  position: sticky;
  top: 0;
  padding: 1rem;
  z-index: 1000;
  background-color: #eef4fa;
}

/* Main content */
.content {
  flex: 1;
  padding: 1rem;
}

/* Footer */
.footer {
  background-color: #333;
  color: white;
  text-align: center;
  padding: 1rem;
  margin-top: auto;
}

.header-menu {
  border: none;
  display: flex;
  justify-content: space-between;
  background-color: #eef4fa;

  /* @media screen and (max-width: 1024px){
    display: flex;

    .p-menubar-root-list {
      font-size: 10px;
    }
  } */

  .p-menubar-root-list {
    margin-left: auto;
    margin-right: min(50px, 5%);
    font-size: 3vmin;
  }
  .p-menubar-end {
    margin-left: unset;
  }

  .header-logo{
    margin-left: 10px;
    margin-right: 10px;
  }
}
