.product-sidebar{
    min-width: 300px;
    background-color: #f6f6f6da;
    min-height: 10vh;
    padding: 20px 15px;
}

.product-main{
    flex: 1; /* Takes the remaining width */
}

.product-page{
    display: flex;
    flex: 1;
    flex-direction: row;
}

@media screen and (min-width: 992.999px) and (max-width: 1279.999px) {
    .inspiration-sidebar{
        min-width: 350px;
    }
}

@media screen and (min-width: 100px) and (max-width: 992px){
    .product-sidebar{
        display: none;
    }

    .inspiration-sidebar{
        display: none;
    }
}

.sidebar-card-thumbnail {
    height: 230px;
    min-width: 280px;
}

.sidebar-card-container {
    align-self: center;
    position: relative;
}

.sidebar-card-content {
    position: absolute;
    top: 1rem;
    left: 1rem;
    opacity: 0;
    transition: 0.6s;
    max-width: 350px
}

.sidebar-card-container:hover .sidebar-card-content {
    opacity: 1;    
}

.sidebar-card-container:hover .sidebar-card-thumbnail {
    opacity: 0.5;    
}

.sidebar-card-container:hover {
    background: black;   
}

.sidebar-card-desc {
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 4;
    -webkit-box-orient: vertical;
    text-overflow: ellipsis;
    max-height: calc(4.5 *  1.5rem);
}
 