.product-sidebar{
    width: 700px;
    background-color: #f6f6f6da;
    min-height: 10vh;
    padding: 20px 15px;
}

.product-main{
    flex: 1; /* Takes the remaining width */
}

.product-page{
    display: flex;
    flex: 1;
    flex-direction: row;
}

@media screen and (min-width: 993px) and (max-width: 1280px) {
    .product-sidebar{
        width: 1000px;
    }
}

@media screen and (min-width: 100px) and (max-width: 992px){
    .product-sidebar{
        width: 500px;
        display: none;
    }
}
 